<ion-view  view-title="My Budget Tracker">
  <ion-nav-buttons side="right">
    <a class="button button-clear icon icon-top ion-power" ng-show="currentUser" ng-click="logout()" href="#/login">Logout</a>
  </ion-nav-buttons>
  <ion-content class="padding app_view" ng-controller="AppController">
    <div class="list">
      <div class="item item-word-wrap item-icon-left" ng-show="data.message">
        <i class="icon ion-information-circled"></i>
        <p class="attention">{{data.message}}</p>
      </div>
      
      <div class="item item-divider">
        Budget
        <span class="item-note">Expense</span>
      </div>
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-information-circled button button-small" ng-click="showModal('Income')">{{data.incomeTotal | currency:"USD$"}}</i>
        <i class="icon ion-information-circled button button-small" ng-click="showModal('Expense')">{{data.expenseTotal | currency:"USD$"}}</i>
      </div>

      <div class="item item-divider">
        <nvd3 options="bulletChart.options" data="bulletChart.data"></nvd3>
      </div>

      <div class="item item-divider item-icon-right">
        Category
        <i class="icon ion-social-usd"></i>
      </div>
      <div class="item">
        <div class="item" ng-repeat="item in data.expenses">
          <button class="button button-clear button-dark" ng-click="getExpenseItemList(item.name)">
            <i class="icon ion-information-circled"></i>
             {{item.name}}
          </button>
          
          <span class="item-note">{{item.totalValue | currency:"USD$"}}</span>
        </div>
      </div>
      <div class="item item-divider">
        BALANCE
        <span class="item-note">{{data.balance | currency: "USD$"}}</span>
      </div>

    </div> <!-- end of list -->

  </ion-content>
  <div class="bar bar-footer" ng-controller="AppController">
    <button class="button button-balanced footer-button" ng-click="showAddIncome()">+ Income</button>
    <h1 class="title" ng-click="showGraph()"><i class="icon ion-ios-pie"></i></h1>
    <button class="button button-assertive footer-button" ng-click="showAddExpense()">+ Expense</button>
  </div>
</ion-view>

