<ion-view  view-title="My Budget Tracker">
  <ion-nav-buttons side="right">
    <a class="button button-clear icon icon-top ion-power" ng-show="currentUser" ng-click="logout()" href="#/">Logout</a>
  </ion-nav-buttons>
  <ion-content class="padding has-subheader" ng-controller="LoginController">
    <div class="list list-inset"  ng-show="data.message">
      <div class="item item-word-wrap item-icon-left">
        <i class="icon ion-information-circled"></i>
        <p class="attention">{{data.message}}</p>
      </div>
    </div>
    
  </ion-content>
</ion-view>

