<ion-view  view-title="Infographic">
  <ion-content class="padding app_view" ng-controller="AppController">
    <div class="list">
      <div class="item item-word-wrap item-icon-left" ng-show="data.message">
        <i class="icon ion-information-circled"></i>
        <p class="attention">{{data.message}}</p>
      </div>
      <h3>Infographics</h3>
      <nvd3 options="vm.options" data="vm.data"></nvd3>
      <div class="item">
        
      </div>

    </div> <!-- end of list -->


  </ion-content>
</ion-view>

