<ion-view hide-nav-bar="true">
  <ion-content class="splash">
  <div class="branding">
    
      <h1 class="splash_title">Daily Budget Tracker App.</h1>
      
      <p class="description">A mobile application that helps to keep track of your daily budget goals. Built with Ionic framework and Firebase for the backend database.  Best viewed with a mobile device.</p>
      <a class="button button-clear button-light get_started" href="#/login"><img class="getStartedPB" src="../img/Get-Started.png" alt="Get Started Button"></a>
      

  </div> <!-- end of branding -->
    
  </ion-content>
</ion-view>