<ion-view  view-title="Log-in">
  <ion-content class="padding has-subheader" ng-controller="LoginController">
    <div class="list list-inset"  ng-show="data.message">
      <div class="item item-word-wrap item-icon-left">
        <i class="icon ion-information-circled"></i>
        <p class="attention">{{data.message}}</p>
      </div>
    </div>
    <form name="myform" novalidate
    ng-submit="login()" ng-hide="currentUser">
      <div class="list list-inset">
        
         <label class="item item-input">
            <span class="input-label">Email</span>
              <input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true">
          </label>
          <p class="item item-text-wrap item-assertive" ng-show="myform.email.$invalid && myform.email.$touched">Valid email required</p>

          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" name="password" placeholder="Password must be 8 characters." ng-model="user.password" ng-required="true" ng-minlength="8">
          </label>
          <p class="item item-text-wrap item-assertive" ng-show="myform.password.$invalid && myform.password.$touched">Password must be at least 8 characters long.</p>
        
        <div class="row">
          <div class="col col-33 col-offset-33">
            <button class="button button-block button-dark" type="submit" 
            ng-disabled="myform.email.$invalid || myform.password.$invalid">$ign In</button>
          </div>
        </div>
        
      </div>
    </form>
    <div class="row">
      <div class="col col-33 col-offset-33">
        <a class="button button-block button-energized" href="#/register">$ign up</a>
      </div>
    </div>
    
  </ion-content>
</ion-view>

