    <ion-view  view-title="Register">
    <ion-pane>
      <div class="bar"><h2 class="title">Register</h2></div>

      <ion-content class="padding has-subheader" ng-controller="RegisterController">
      <form name="myform" novalidate ng-submit="register()">
        <div class="list list-inset">
          <label class="item item-input">
            <span class="input-label">User Name</span>
            <input type="text" name="username" placeholder="User Name" ng-model="user.username" ng-required="true">
          </label>
          <p class="item item-text-wrap item-assertive" ng-show="myform.username.$invalid && myform.username.$touched">Please provide a user name.</p>

          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true">
          </label>
          <p class="item item-text-wrap item-assertive" ng-show="myform.email.$invalid && myform.email.$touched">A valid email is required</p>

          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true" ng-minlength="8">
          </label>
          <p class="item item-text-wrap item-assertive" ng-show="myform.password.$invalid && myform.password.$touched">Passwords must have at least 8 characters.</p>
          
          <div class="row">
            <div class="col col-33 col-offset-33">
              <button class="button button-block button-dark" type="submit" ng-disabled="myform.username.$invalid || myform.email.$invalid || myform.password.$invalid">$ign Up</button>
            </div>
          </div>
          

        </div>  <!-- end of list -->
      </form>
      </ion-content>
    </ion-pane>
    </ion-view>