/* Empty. Add your own CSS if you like */

@import 'https://fonts.googleapis.com/css?family=Quattrocento|Open+Sans+Condensed:300';

.app_view {
  max-width: 640px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.splash {
  background: url("../img/Splash_Lrg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.branding {
  background-color: rgba(62, 83, 117, 0.85);
  height: 100vh;
}

.splash_title {
  color: white;
  padding-top: 5rem;
  margin: 1.5rem auto;
  font-size: 3.5rem;
  font-family: 'Quattrocento', serif;
}

.description {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5rem;
  padding: 2rem;
  color: white;
}

.get_started {
  margin-top:25vh;
  font-size: 3rem;
  padding: 0;
}

.bar-footer .title {
  font-size: 2.2rem;
} 

.item-icon-left .icon, .item-icon-right .icon {
  font-size: 16px;
}

/*  landing page Get Started button styles */
.getStartedPB {
  height: 6rem;
}


/* Portrait */
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .get_started {
      margin-top:10vh;
      font-size: 2rem;
      padding: 1.2rem;
    }
}

/* Portrait  iPhone 5*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    
    .splash_title {
      margin: 0.5rem auto;
      font-size: 1.5rem; 
    }
    .get_started {
      margin-top:7vh;
      font-size: 2rem;
    }
    .description {
      font-size: 0.6rem
      padding: 0.6rem;
    }
    .getStartedPB {
      height: 4rem;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  
  .button.button-block, .button.button-full {
    padding: 0;
    margin: 0;
  }
  .row {
    margin: 0;
    padding: 0;
  }
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

  .get_started {
    margin-top:40vh;
    font-size: 1.5rem;
  }

  .splash_title {
    margin: 0.2rem auto;
    font-size: 1.8rem; 
  }

  .description {
    padding: 0.8rem;
  }

  .getStartedPB {
    height: 3rem;
  }

}

/* Landscape */
@media screen 
  and (device-height: 360px) 
  and (device-width: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
  
  .get_started {
    margin-top:0.3vh;
    font-size: 1.5rem;
  }

  .splash_title {
    margin: 0.2rem auto;
    font-size: 1.8rem; 
  }

  .description {
    padding: 0.2rem;
  }

  .getStartedPB {
    height: 1rem;
  }

  .row {
    padding: 0;
  }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) {

  .get_started {
    margin-top:45vh;
    font-size: 1.5rem;
  }

  .splash_title {
    margin: 0.2rem auto;
    font-size: 1.8rem; 
  }

  .description {
    padding: 0.8rem;
  }

  .getStartedPB {
    height: 4rem;
  } 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

  .get_started {
    margin-top:25vh;
    font-size: 1.5rem;
  }

  .splash_title {
    margin: 0.2rem auto;
    font-size: 1.8rem; 
  }

  .description {
    padding: 0.8rem;
  }

  .getStartedPB {
    height: 4rem;
  } 

}
/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  .get_started {
    margin-top:40vh;
    font-size: 1.5rem;
  }

  .splash_title {
    margin: 0.2rem auto;
    font-size: 1.8rem; 
  }

  .description {
    padding: 0.8rem;
  }

  .getStartedPB {
    height: 4rem;
  } 
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  .get_started {
    margin-top:10vh;
    font-size: 1.5rem;
  }

  .splash_title {
    margin: 0.2rem auto;
    font-size: 1.8rem; 
  }

  .description {
    padding: 0.8rem;
  }

  .getStartedPB {
    height: 4rem;
  }  

}

/* ----------- Kindle Fire HDX" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1600px) 
  and (max-device-width: 2560px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

  .get_started {
    margin-top:50vh;
    font-size: 2rem;
  }

  .description {
    font-size: 1.7rem;
  }

  .splash_title {
    font-size: 5rem;
  }

  .getStartedPB {
    height: 10rem;
  } 

}

/* Landscape */
@media only screen 
  and (min-device-width: 1600px) 
  and (max-device-width: 2560px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: landscape) {

  .get_started {
    margin-top:50vh;
    font-size: 2rem;
  }

  .description {
    font-size: 2.5rem;
  }

  .splash_title {
    font-size: 5rem;
  }

  .getStartedPB {
    height: 10rem;
  } 


}
