/* Empty. Add your own CSS if you like */

.splash {
  background: url("../img/Splash_Lrg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.branding {
  background-color: rgba(255, 255, 255, 0.35);
  height: 100vh;
}

.splash_title {
  color: white;
  padding-top: 5rem;
  margin: 1.5rem auto;
}

.description {
  font-size: 1.5rem;
  padding: 2rem;
}

.get_started {
  margin-top:2rem;
}

.bar-footer .title {
  font-size: 40px;
}


.item-icon-left .icon, .item-icon-right .icon {
  font-size: 16px;
}

.footer-button {
  max-height: 31px;
}
